@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

.title,
.page-selec {
  font-family: 'Amatic SC', cursive;
}
.title {
  font-size: 50px;
  font-weight: 700;
  color: #00eaff;
}

.logo {
  width: 562px;
  height: 142px;
}

h1 {
  color: black;
}
.slide {
  font-size: 12px;
}
.img-slide {
  width: 250px;
  height: 250px;
}

.page-selec {
  color: white;
  font-size: 40px;
}